<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaRecetaServlet</servlet-name>
        <servlet-class>servlet.NuevaRecetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerRecetasServlet</servlet-name>
        <servlet-class>servlet.VerRecetasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarRecetasServlet</servlet-name>
        <servlet-class>servlet.MostrarRecetasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaRecetaServlet</servlet-name>
        <url-pattern>/NuevaRecetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerRecetasServlet</servlet-name>
        <url-pattern>/VerRecetasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarRecetasServlet</servlet-name>
        <url-pattern>/MostrarRecetasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
